@font-face {
	font-family: 'MyriadProRegular';
	src: url('MyriadProRegular.eot');
	src: url('MyriadProRegular.eot?#iefix') format('embedded-opentype'),
		url('MyriadProRegular.woff') format('woff'),
		url('MyriadProRegular.ttf') format('truetype');
}